* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #444;
}

/* Navigation Bar */
.nav-left-side {
  margin-right: 35rem;
}
.navbar-brand {
  width: 60%;
}

.nav-link {
  color: #444;
}

.nav-link:hover {
  color: #f18120;
}

/* How it works */

.how-section {
  padding: 50px 0;
}

.how-img {
  width: 150px;
}

/* Hot Spot Parking */

.spot-slider {
  height: 50px;
}

.spot-content {
  padding-top: 15px;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.114), rgb(0, 0, 0));
}

.spot-text {
  font-size: 16px;
}

.spot-card {
  height: 250px;
  width: 400px;
  overflow: hidden;
  border-radius: 4px;
  cursor: pointer;
}

.spot-img {
  transition: all 0.4s;
  width: 100%;
  height: 100%;
}

.spot-img:hover {
  transform: scale(1.1);
}

.gallery-item {
  width: 100%;
  height: 100%;
}

.empty-space {
  max-width: 20px;
}

.slick-slide:not(.slick-active) {
  opacity: 0.5;
}

/* ////////////////////// */
/* Testimonials */

.Testimonials {
  margin-top: 300px;
  padding-top: 60px;
  background: #f9f9f9;
  height: 800px;
}

.testamonials-card {
  cursor: grab;
  background-color: #f18120;
  height: 300px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.card-attach {
  background-color: rgba(0, 255, 255, 0);
  width: 100%;
  height: 350px;
}

.testimonials-img {
  width: 12%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow-down {
  width: 0;
  height: 0;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);

  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f18120;
}

.testimonials-name {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-slide {
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}

.slick-track {
  margin: auto;
}

/*  Featured in */

.features {
  margin-top: 20px;
}
.features .imgs-holder {
  width: fit-content;
}
.features .imgs-holder img {
  width: 200px;
  height: 100px;
}

/* How listing */

.how-icon {
  font-size: 48px;
  color: #f18120;
}
